@import "../components/navbar/navbar.scss";
@import "./variables.scss";
@import "./dark_theme.scss";
@import "./light_theme.scss";

*,
::after,
::before {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%; // 1rem = 10px; 16px = 1.6rem
}

body {
  background-color: $blue-1;
  font-family: "Noto Sans JP", sans-serif;
}
