// color theme;
$blue-10: #131629;
$blue-9: #161d40;
$blue-8: #1c2755;
$blue-7: #203175;
$blue-6: #263ea0;
$blue-5: #2b4acb;
$blue-4: #5273e0;
$blue-3: #7f9ef3;
$blue-2: #a8c1f8;
$blue-1: #d2e0fa;
$blue-0: #fcfcfc;
